<div class="ui center aligned grid">
	<div class="ui segment relaxed grid" id="about-box">
		<div class="three column stackable row">
			<div class="column">
				<h3 class="aboutH">Hatch and collect unique pets!</h3>
				<img class="ui centered image" src="~/images/about/FirePanda_small.png" />
				<p>
					In ItsyBits you can collect and take care of many different virtual pets. You will start out with one pet, but as you play and care for your pet, you will earn coins that you can spend on buying
					more pets to take care of!
				</p>
				<p>How many different pets will you manage to take care of at the same time?</p>
			</div>
			<div class="column">
				<h3 class="aboutH">Buy buildings!</h3>
				<img class="ui centered image" src="~/images/about/Coop_small.png" />
				<p>In ItsyBits all of the pets live in buildings in the Pet Town. As you play you can purchase more buildings in the Pet Town in order to have room for more cool and interesting pets!</p>
				<p>The buildings also come in different shapes and sizes, where a house can room more pets than for example a tent.</p>
			</div>
			<div class="column">
				<h3 class="aboutH">Get upgrades!</h3>
				<img class="ui centered image" src="~/images/about/UpgradeIcon.png" />
				<p>In addition to buying new pets and houses, you can buy upgrades. The upgrades can for example be used to make a house bigger by adding more rooms, or to buy a comfy blanket for your favorite pet so it stays happy longer!</p>
			</div>
		</div>
	</div>
</div>