<div class="ui center aligned grid">
	<div class="ui segment relaxed grid" id="AboutBox">
		<div class="three column row">
			<div class="column">
				<h3 class="aboutH">Hatch and collect unique animals!</h3>
				<img class="ui centered image" src="~/images/about/FirePanda_small.png" />
				<p>
					In ItsyBits you can collect and take care of many different virtual pets. You will start out with one pet, but as you play and care for your pet, you will earn coins that you can spend on buying
					more pets to take care of!
				</p>
				<p>How many different pets will you manage to take care of at the same time?</p>
			</div>
			<div class="column">
				<h3 class="aboutH">Buy houses!</h3>
				<img class="ui centered image" src="~/images/about/Coop_small.png" />
				<p>In ItsyBits all of the pets live in houses in the Pet Town. As you play you can build more houses in Pet Town in order to have room for more cool and interesting pets!</p>
				<p>The houses also come in different shapes and sizes, where a larger house can house more pets than a small house.</p>
			</div>
			<div class="column">
				<h3 class="aboutH">Get upgrades!</h3>
				<img class="ui centered image" src="~/images/about/UpgradeIcon.png" />
				<p>In addition to buying new pets and houses, you can buy upgrades. The upgrades can for example be used to make a house bigger by adding more rooms, or to buy a comfy blanket for your favorite pet so it stays happy longer!</p>
			</div>
		</div>
	</div>
</div>