<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body>
    <img class="Logo" src="~/images/ItsyBitsLogo.png" />
    <div class="ui main container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
