<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body class="Account-body">
    <div class="ui main container">
        @RenderBody()
    </div>
    <img class="ui fluid centered image" id="account-footer" src="~/images/IBFooter.png">
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
