<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body >
    <div class="ui main container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
    <img class="ui fluid centered image" src="~/images/IBFooter.png">
</html>
