<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ItsyBits</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css"
              asp-fallback-href="~/lib/semantic-ui/dist/semantic.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="Main-body">
<div class="ui secondary pointing menu">
    <a asp-controller="Home" asp-action="Index" class="item">ItsyBits</a>
    <a asp-controller="Animal" asp-action="Index" class="item">
        <i class="paw icon"></i>
        My animals
    </a>
    <a asp-controller="Building" asp-action="Index" class="item">
        <i class="building icon"></i>
        My buildings
    </a>
    <a asp-controller="Store" asp-action="Index" class="item">
        <i class="icon shop"></i>
        Store
    </a>
    <div class="right menu">
        @if (User.IsInRole("Administrator")) {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="ui item">Admin</a>
        }
        @await Component.InvokeAsync("Currency")
        <a asp-controller="Home" asp-action="About" class="ui item">
            <i class="info icon"></i>
            About
        </a>
        <a asp-controller="Home" asp-action="Contact" class="ui item">
            <i class="mail icon"></i>
            Contact
        </a>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="ui item">
                <i class="power icon"></i>
                Log out
            </button>
        </form>
    </div>
</div>
<div class="ui grid centered stackable">
    <div class="four wide column">
        <div class="ui segment">
            @await Component.InvokeAsync("BuildingSummary")
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            @RenderBody()
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/semantic-ui/dist/semantic.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"
            asp-fallback-src="~/lib/semantic-ui/dist/semantic.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
    @RenderSection("scripts", required: false)
</body>
</html>
