<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body class="full-height">
    @RenderBody()
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
