<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body class="Main-body">
    @await Html.PartialAsync("_NavigationPartial")
    <div class="ui grid centered stackable">
        <div class="four wide column">
            <div class="ui segment">
                @await Component.InvokeAsync("BuildingSummary")
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui segment">
                @await Html.PartialAsync("_ResultPartial")
                @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
