<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body class="main-body">
@await Html.PartialAsync("_SidebarPartial")
<div class="pusher">
    @await Html.PartialAsync("_NavigationPartial")
    <div class="ui equal width padded grid">
        <div class="computer tablet only column left-column">
            @await Component.InvokeAsync("UserSummary")
        </div>
        <div class="column">
            @await Html.PartialAsync("_ResultPartial")
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("scripts", required: false)
</div>
</body>
</html>
