@using ItsyBits.Helpers
@{
    Result result = (Result) ViewData["Result"];
    if (result == null) {
        result = TempData.Get<Result>("Result");
    }
    string status = "info";
    if (result != null) {
        switch (result.Status) {
            case ResultStatus.Error:
                status = "negative";
                break;
            case ResultStatus.Success:
                status = "positive";
                break;
            case ResultStatus.Warning:
                status = "warning";
                break;
        }
    }
}
@if (result != null) {
    <div class="ui @status message">
        <i class="close icon"></i>
        <div class="header">@result.Title</div>
        <p>@result.Message</p>
    </div>
}