<div class="ui thin sidebar vertical massive pointing menu navigation active-check">
    <a asp-controller="Home" asp-action="Index" class="item logo-container">
        <img src="~/images/ItsyBitsLogo.png" />
    </a>
    <a asp-controller="Home" asp-action="Index" class="item">
        Pet town
        <i class="home icon"></i>
    </a>
    <a asp-controller="Animal" asp-action="Index" class="item">
        My animals
        <i class="paw icon"></i>
    </a>
    <a asp-controller="Building" asp-action="Index" class="item">
        My buildings
        <i class="building icon"></i>
    </a>
    <a asp-controller="Store" asp-action="Index" class="item">
        Store
        <i class="icon shop"></i>
    </a>
    <a asp-controller="Home" asp-action="About" class="item">
        <i class="info icon"></i>
        About
    </a>
    <a asp-controller="Home" asp-action="Contact" class="item">
        <i class="mail icon"></i>
        Contact
    </a>
    @if (User.IsInRole("Administrator")) {
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="item">Admin</a>
    }
    <a asp-controller="Account" asp-action="Logout" class="ui item">
        <i class="power icon"></i>
        Log out
    </a>
</div>