@model ForgotPasswordViewModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Reset password";
}
<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form"> 
    <h2 class="center aligned header account-header">Reset password</h2>
    <div class="field">
        <h3>Please enter your e-mail below</h3>
        <span asp-validation-for="Email" class="ui orange left pointing label"></span>
        <input asp-for="Email" class="field" placeholder="user@user.com" />   
    </div>
    <div class="field">
        <a class="ui button orange" asp-action="Login">Back</a>
        <button type="submit" class="ui button green">Reset</button>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
