@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_BasicLayout";
}
<body class="AccountBody">
    <div class="ui one column center aligned grid">
        <div class="column six wide">
            <h2 class="ui top attached left aligned header">Login</h2>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">
                <div class="ui bottom attached segment form">
                    <div asp-validation-summary="All"></div>
                    <div class="field">
                        <input asp-for="User" type="text" placeholder="Username or email">
                    </div>
                    <div class="field">
                        <input asp-for="Password" type="password" placeholder="Password">
                    </div>
                    <div class="ui checkbox" id="rememberMe">
                         <input asp-for="RememberMe" />
                         <label>Remember me</label>
                     </div>
                     <a id="forgotPassword" asp-action="ForgotPassword">Forgot your password?</a>
                    <div class="field">
                        <input type="submit" value="Login" class="ui button large fluid green">
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <!--the register field needs to be "removed" from the asp-validation. Can only be taken to register view after the forms are filled in -->
                    <div>
                        <button class="ui button large fluid orange" asp-action="Register">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ui center aligned grid">
        <div class="ui segment relaxed grid" id="AboutBox">
            <div class="three column row">
                <div class="column">
                    <h3>Collect pets!</h3>
                    <p>Nullam quis tellus justo. Vivamus egestas nunc eu leo rutrum scelerisque. Vestibulum et nisl eget arcu sagittis pellentesque. Cras id rhoncus lorem, vel luctus neque. Suspendisse dapibus sodales tincidunt. Phasellus id aliquet est, at convallis leo. Nam feugiat risus quis tristique porttitor. </p>
                </div>
                <div class="column">
                    <h3>Buy houses!</h3>
                    <p>Nullam quis tellus justo. Vivamus egestas nunc eu leo rutrum scelerisque. Vestibulum et nisl eget arcu sagittis pellentesque. Cras id rhoncus lorem, vel luctus neque. Suspendisse dapibus sodales tincidunt. Phasellus id aliquet est, at convallis leo. Nam feugiat risus quis tristique porttitor. </p>
                </div>
                <div class="column">
                    <h3>Get upgrades!</h3>
                    <p>Nullam quis tellus justo. Vivamus egestas nunc eu leo rutrum scelerisque. Vestibulum et nisl eget arcu sagittis pellentesque. Cras id rhoncus lorem, vel luctus neque. Suspendisse dapibus sodales tincidunt. Phasellus id aliquet est, at convallis leo. Nam feugiat risus quis tristique porttitor. </p>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}