@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_BasicLayout";
}
<div class="ui one column center aligned grid">
    <div class="column six wide">
        <h2 class="center aligned header">Sign in</h2>
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">
            <div class="ui form">
                <div asp-validation-summary="All"></div>
                <div class="field">
                    <input asp-for="User" type="text" placeholder="Username or email">
                </div>
                <div class="field">
                    <input asp-for="Password" type="password" placeholder="Password">
                </div>
                <div class="field">
                    <input type="submit" value="Sign in" class="ui button large fluid green">
                </div>
                <p>
                    <a asp-action="Register">Register</a> | 
                    <a asp-action="ForgotPassword">Forgotten password</a>
                </p>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input asp-for="RememberMe" />
                        <label>Remember me</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}