@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_BasicLayout";
}
<body class="Account-body">
    <div class="ui one column center aligned grid">
        <div class="column six wide">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">
                <div class="ui segment form">
                    <h2 class="left">Login to play!</h2>
                    <div asp-validation-summary="All"></div>
                    <div class="field">
                        <input asp-for="User" type="text" placeholder="Username or email">
                        <!--Style test for the validation messages. Remove after adding properly. May need to use Jquery to properly place the messages outside of the field?-->
                        <div class="ui orange left pointing label">Please input username or e-mail</div>
                    </div>
                    <div class="field">
                        <input asp-for="Password" type="password" placeholder="Password">
                    </div>
                    <div class="clearfix login-options">    
                        <div class="ui checkbox left">
                            <input asp-for="RememberMe" />
                            <label>Remember me</label>
                        </div>
                        <!-- the action "ForgotPassword" currently doesn't take you anywhere - does not currently load the ForgotPassword view-->
                        <a class="right" asp-action="ForgotPassword">Forgot your password?</a>
                    </div>
                    <div class="field">
                        <input type="submit" value="Login" class="ui button large fluid green">
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div>
                        <a class="ui button large fluid orange" asp-action="Register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @Html.Partial("_AboutPartial")
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}