<h2>Admin</h2>
<ul>
    <li><a asp-controller="Animal" asp-action="Index">Pets</a></li>
    <li><a asp-controller="AnimalType" asp-action="Index">Pet types</a></li>
    <li><a asp-controller="Building" asp-action="Index">Buildings</a></li>
    <li><a asp-controller="BuildingType" asp-action="Index">Building types</a></li>
    <li><a asp-controller="Upgrade" asp-action="Index">Upgrades</a></li>
</ul>