@model AnimalType
<a asp-controller="Store" asp-action="Animal" asp-route-id="@Model.Id" class="ui card">
    <div class="image">
        <img src="~/images/animals/@Model.SpritePath/portrait.png" />
    </div>
    <div class="content">
        <div class="header">@Model.Name</div>
        <div class="meta">
            <p>@Model.Name</p>
        </div>
        <div class="description">Description goes here</div>
    </div>
</a>