@model Upgrade
<a asp-controller="Store" asp-action="BuildingUpgrade" asp-route-id="@Model.Id" class="ui card">
    <div class="image">
        <img src="~/images/upgrades/@Model.SpritePath" />
    </div>
    <div class="content">
        <div class="header">@Model.Name</div>
        <div class="meta">
            <p>@Model.Name</p>
        </div>
        <div class="description">@Model.Description</div>
    </div>
</a>