<div class="ui raised link cards centered">
    <div class="card">
        <div class="image">
            <img src="~/images/animals/eggs/eggTrio_icon.jpg" />
        </div>
        <div class="content">
            <div class="header">Pets</div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="~/images/buildings/shack/icon.jpg" />
        </div>
        <div class="content">
            <div class="header">Houses</div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="~/images/upgrades/placeholderUpgrade_icon.jpg" />
        </div>
        <div class="content">
            <div class="header">Upgrades</div>
        </div>
    </div>
</div>