@model Animal
@{
    AnimalType type = (AnimalType) ViewData["AnimalType"];
}
<h1>Buy a new @type.Name</h1>
<div class="ui container">
    <img class="ui centered big image" src="~/images/animals/@type.SpritePath/full.png" />
</div>
<form class="ui massive form" method="post">
    <div class="two fields">
        <div class="field">
            <label>What would you like to name your animal?</label>
            <input asp-for="Name" />
        </div>
        <div class="field">
            <label>Where should the animal live?</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="BuildingId"/>
                <i class="dropdown icon"></i>
                <div class="default text">Select building</div>
                <div class="menu">
                    @foreach (Building building in (IEnumerable<Building>) ViewData["BuildingId"]) {
                        <div class="item" data-value="@building.Id">
                            <img class="ui mini avatar image" src="/images/buildings/@building.Type.SpritePath/portrait.png"/>
                            @building.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="ui orange button" value="Buy" />
    <a asp-controller="Store" asp-action="Index" class="ui default button">Back</a>
</form>