@model StoreBuildingViewModel
@{ ViewData["Title"] = "Buy building"; }
<div class="ui stackable two column grid">
    <div class="column info-column">
        <form class="ui segments form" method="post">
            <div class="ui raised segment secondary">
                <h4 class="inline">Buy a @Model.BuildingType.Name</h4>
                <p class="right floated">
                    <i class="ui money icon"></i>
                    @Model.BuildingType.Price
                </p>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Description</p>
                <p>@Model.BuildingType.Description</p>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label inline">
                    <label asp-for="Name"></label>
                </p>
                <input asp-for="Name" placeholder="Name" />
                <span asp-validation-for="Name" class="ui pointing red basic label"></span>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label inline">
                    <label id="plot-text" asp-for="PlotId"></label>
                </p>
                <div id="town" class="full-width">
                    <canvas id="canvas" class="full-width" width="500" height="500"></canvas>
                    <div class="ui vertical buttons" id="zoom-buttons">
                        <button class="ui button" id="zoom-in">+</button>
                        <button class="ui button" id="zoom-out">-</button>
                    </div>
                </div>
                <input type="hidden" asp-for="PlotId" value="" />
                <span asp-validation-for="PlotId" class="ui pointing red basic label"></span>
            </div>
            <div class="ui two bottom attached buttons">
                <button type="submit" class="ui orange button"><i class="add to cart icon"></i> Buy</button>
                <a asp-controller="Store" asp-action="Index" asp-route-id="building" class="ui default button">
                    <i class="backward icon"></i> Back
                </a>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/buildings/@Model.BuildingType.SpritePath/portrait.png" />
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/town.js"></script>
    <script src="~/js/store.js"></script>
}