@model Building
@{
    ViewData["Title"] = "Buy building";
    BuildingType type = (BuildingType)ViewData["BuildingType"];
}
<div class="ui stackable two column grid">
    <div class="column info-column">
        <form class="ui segments form" method="post">
            <input type="hidden" id="PlotId" name="PlotId" value="0" />
            <div class="ui raised segment secondary">
                <h4 class="inline">Buy a @type.Name</h4>
                <p class="right floated">
                    <i class="ui money icon"></i>
                    @type.Price
                </p>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Description</p>
                <p>@type.Description</p>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label">What would you like to name your building?</p>
                <input asp-for="Name"/>
            </div>
            <div class="ui raised segment field">
                <p id="plot-text" class="ui orange ribbon label">Where would you like your animal to live?</p>
                <div id="town" class="full-width">
                    <canvas id="canvas" class="full-width" width="500" height="500"></canvas>
                    <div class="ui vertical buttons" id="zoom-buttons">
                        <button class="ui button" id="zoom-in">+</button>
                        <button class="ui button" id="zoom-out">-</button>
                    </div>
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <button type="submit" class="ui orange button"><i class="add to cart icon"></i> Buy</button>
                <a asp-controller="Store" asp-action="Index" class="ui default button">Back</a>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/buildings/@type.SpritePath/portrait.png" />
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/town.js"></script>
    <script src="~/js/store.js"></script>
}