@{
    Layout = "_StoreLayout";
    ViewData["Title"] = "Store";
}
<h2>Items</h2>
<div class="ui fluid cards">
    <div class="card">
        <div class="item content">
            <div class="header">Green egg</div>
            <img class="ui image" src="~/images/animals/eggs/greenEgg.png">
        </div>
        <div class="ui bottom attached orange button">
            Buy 20
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">Blue egg</div>
            <img class="ui image" src="~/images/animals/eggs/blueEgg.png">
        </div>
        <div class="ui bottom attached orange button">
            Buy 20
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">Beige egg</div>
            <img class="ui image" src="~/images/animals/eggs/beigeEgg.png">
        </div>
        <div class="ui bottom attached orange button">
            Buy 20  
            <i class="dollar icon"></i>
        </div>
    </div>
</div>
<hr />
<div class="ui fluid cards">
    <div class="card">
        <div class="item content">
            <div class="header">Tent</div>
            <img class="ui image" src="~/images/buildings/Tent/tHouse_icon.jpg">
            <div class="description">Pet capacity 2</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 30
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">House</div>
            <img class="ui image" src="~/images/buildings/shack/icon.jpg">
            <div class="description">Pet capacity 4</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 60
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">Large house</div>
            <img class="ui image" src="~/images/buildings/coop/icon.jpg">
            <div class="description">Pet capacity 6</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 120
            <i class="dollar icon"></i>
        </div>
    </div>
</div>
<hr />
<div class="ui fluid cards">
    <div class="card">
        <div class="item content">
            <div class="header">Cozy blanket</div>
            <img class="ui image" src="~/images/upgrades/cozyBlanket.png">
            <div class="description">Makes your pet sleep better! Your pet will not need to sleep as often with this blanket</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 50
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">Brush</div>
            <img class="ui image" src="~/images/upgrades/brush.png">
            <div class="description">The brush will make your pet feel more loved. Pets love getting brushed while being petted!</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 50
            <i class="dollar icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="item content">
            <div class="item header">Deluxe food</div>
            <img class="ui image" src="~/images/upgrades/deluxeFood.png">
            <div class="description">High quality and tasty food that will make your pet stay full for a longer time</div>
        </div>
        <div class="ui bottom attached orange button">
            Buy 50
            <i class="dollar icon"></i>
        </div>
    </div>
</div>
