@model IEnumerable<BuildingViewModel>
@{ ViewData["Title"] = "My buildings"; }
<div class="ui cards">
    @foreach (BuildingViewModel building in Model) {
        @Html.Partial("_BuildingCardPartial", building)
    }
</div>
