@{
    Layout = "_CleanLayout";
}
<div id="about-top">
    <h1 class="about-header">
        The project
    </h1>
        <img class="medium centered image" src="~/images/ItsyBitsLogo.png" />
        <div class="ui stackable grid">
            <div class="ui text container">
                <p>
                    We made ItsyBits as our answer to the group project in the course 'DAT-219 Internet Services on the .NET platform' at the University of Agder, campus Grimstad. 
                    The main goals of the course were to enable us to develop a functional web application by making use of Microsoft's ASP.NET framework, while strengthening our capacity 
                    and skills in project planning, management, and in programming languages such as HTML5, CSS, Javascript, and C#. 
                    <br>
                    <br>
                    ItsyBits is a Tamagotchi inspired management game where the goal is to take care of multiple virtual fantasy pets. 
                    The users are responsible for keeping the pets happy by ensuring that they are well-fed, well-rested and loved. 
                    Each user starts out with only one pet to take care of, however more pets can be bought from the in-game store, through currency earned solely in-game by keeping the pets happy.
                    Our main goal was to create a management game that can be played for smaller spans of time, e.g. while waiting for the bus or while taking small breaks from work or studying. 
                    It has therefore been of high importance for us that the website is both effective and efficient on different popular devices and browsers, in order to enable the users to play anywhere, and at any time.   
                </p>
            </div>
        </div>
    </div>

<div class="ui center aligned segment about-footer">
        <h1 class="about-header">
            Developers
        </h1>
        <div class="ui three column stackable grid">
            <div class="column">
                    <h2>Ronny Reinhardtsen</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Ronny.jpg">
                    <p>
                        Ronny Reinhardtsen is the main responsible for backend development server setup.
                        <br />
                        He has a bachelor in Multimedia and is currently in his 1st year of the Master's degree in Multimedia and Educational Technology.
                        Ronny is very interested in programming, and does it both as a hobby and as a profession.  
                        <h4>Contact:</h4>
                        e-mail: ronny@ronnrein.com
                    </p>
            </div>
            <div class="column">
                    <h2>Marielle juveng</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Marielle.png">
                    <p>
                        Marielle Juveng is the main responsible for the project management, writing documents, and creating art. 
                        She is currently in her 1st year of the Master's degree in Multimedia and Educational Technology, where she is aiming to return to being a teacher after the education is finished.  
                        <h4>Contact:</h4>
                        e-mail: mariej16@student.uia.no
                    </p>
            </div>
            <div class="column">
                    <h2>Nikolai Robstad</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Nikolai.png">
                <p>
                    Nikolai is working primarily with frontend development and design.
                    <br />
                    He has a bachelor in Multimedia and is currently in his 1st year of the Master's degree in Multimedia and Educational Technology.
                    <h4>Contact:</h4>
                    e-mail: nikoer11@student.uia.no
                </p>
            </div>
        </div>
</div>




