@{
    Layout = "_CleanLayout";
}
<div class="ui inverted vertical masthead center aligned segment">
    <h1 class="ui horizontal header divider">
        About the projects
    </h1>
    <img class="medium centered image" src="~/images/ItsyBitsLogo.png" />
    <div class="ui stackable grid">
        
</div>
    </div>
<div class="ui inverted vertical masthead center aligned segment">
        <h1 class="ui horizontal header divider">
            Developers
        </h1>
        <div class="ui three column stackable grid">
            <div class="column">
                    <h2>Ronny Reinhardtsen</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Ronny.jpg">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and s
                        crambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially uncha
                    </p>
            </div>
            <div class="column">
                    <h2>Marielle juveng</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Marielle.png">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and s
                        crambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially uncha
                    </p>
                
            </div>
            <div class="column">
                
                    <h2>Nikolai Robstad</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Nikolai.png">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and s
                        crambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially uncha
                    </p>
                
            </div>
        </div>
</div>


