@{
    Layout = "_CleanLayout";
}
<div id="about-top">
    <h1 class="about-header">
        The project
    </h1>
        <img class="medium centered image" src="~/images/ItsyBitsLogo.png" />
        <div class="ui stackable grid">
            <div class="ui text container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis augue dignissim, molestie magna at, eleifend tellus.
                    Suspendisse luctus neque elit, in ultricies nisl sollicitudin vitae. Nunc et odio posuere, imperdiet odio et,
                    dictum justo. Integer sagittis libero et diam vulputate, ac vestibulum urna aliquet. Sed facilisis sollicitudin egestas.
                    Donec at varius dolor. Vestibulum quis purus eu purus euismod consequat hendrerit non erat. Nullam mattis facilisis massa,
                    quis varius massa scelerisque vitae. Fusce convallis mattis erat et efficitur.
                    <br>
                    <br>
                    Proin eu interdum sem, vitae congue velit. Etiam lobortis tellus vel tristique hendrerit. Phasellus rhoncus faucibus varius.
                    In quis magna ut sapien porta euismod. Sed malesuada, nulla eu auctor faucibus, quam mi volutpat lacus, in tincidunt est neque in tellus.
                    Quisque consequat viverra maximus. Maecenas efficitur ligula erat, eu viverra urna mattis placerat. Praesent eu urna et odio vehicula curs
                </p>
            </div>
        </div>
    </div>

<div class="ui center aligned segment about-footer">
        <h1 class="about-header">
            Developers
        </h1>
        <div class="ui three column stackable grid">
            <div class="column">
                    <h2>Ronny Reinhardtsen</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Ronny.jpg">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type ands
                        crambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially uncha
                        <h4>Contact:</h4>
                        <h4>Website:</h4>
                    </p>
            </div>
            <div class="column">
                    <h2>Marielle juveng</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Marielle.png">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and s
                        crambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially uncha
                        <h4>Contact:</h4>
                        <h4>Website:</h4>
                    </p>
                
            </div>
            <div class="column">
                    <h2>Nikolai Robstad</h2>
                    <img class="ui medium circular centered image" src="~/images/about/Nikolai.png">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and s
                    crambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially uncha.
                </p>
                <h4>Contact:</h4>
                <h4>Website:</h4>
            </div>
        </div>
</div>




