@{
    ViewData["Title"] = "Contact";
}

<div class="ui text container">
    <h1 class="about-header">Contact us</h1>
    <p> Please fill in the form should you have an issue or a question about the site.</p>
    <div class="ui small form">
        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input placeholder="Name" type="text">
            </div>
            <div class="field">
                <label>E-mail</label>
                <input placeholder="E-mail" type="email">
            </div>
        </div>
        <div class="field">
            <label>Message</label>
            <input placeholder="Message" type="text">
        </div>
        <div class="ui submit button">Send</div>
    </div>
    
</div>
  
