@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<div class="ui text container">
    <h1 class="about-header">Contact us</h1>
    <p> Please fill in the form should you have an issue or a question about the site.</p>
    <form method="post" class="ui small form">
        <div class="field clearfix">
            <label>Message</label>
            <textarea asp-for="Message" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="ui green button">
            <i class="checkmark icon"></i> Send
        </button>
    </form>
</div>
  
