@{ ViewData["Title"] = "Pet town"; }
<div id="town" class="full-width">
    <canvas id="canvas" class="full-width" width="500" height="500"></canvas>
</div>
@section Scripts {
    <script src="~/js/town.js"></script>
    <script src="~/js/home.js"></script>
}

