@{ ViewData["Title"] = "Home Page"; }
<h2>Pet Town</h2>
<div id="town">
    <canvas id="canvas" width="500" height="500"></canvas>
</div>  
<p>X: <span id="mousex">0</span> , Y: <span id="mousey">0</span></p>  
@section Scripts {
    <script src="~/js/town.js"></script>
}

