@{ ViewData["Title"] = "Pet town"; }
<div id="town" class="full-width">
    <canvas id="canvas" class="full-width" width="500" height="500"></canvas>
    <div class="ui vertical buttons" id="zoom-buttons">
        <button class="ui button" id="zoom-in">+</button>
        <button class="ui button" id="zoom-out">-</button>
    </div>
</div>
@section Scripts {
    <script src="~/js/town.js"></script>
    <script src="~/js/home.js"></script>
}

