@{ ViewData["Title"] = "Home Page"; }
<h2>Pet Town</h2>

<div id="town">

    <canvas id="myCanvas" width="1250" height="889"></canvas>


</div>    


@section Scripts {
    <script src="~/js/town.js"></script>
}

