@{ ViewData["Title"] = "Home Page"; }
<h2>Pet Town</h2>
<div id="town">
    <canvas id="canvas" width="100" height="100"></canvas>
    <p>X: <span id="mousex">0</span> , Y: <span id="mousey">0</span> Hovering over: <span id="hover"></span></p>
</div>    
@section Scripts {
    <script src="~/js/town.js"></script>
}

