@{
    ViewData["Title"] = "Not found";
}
<div id="error-body">
    <h1 class="error-h">404 </h1>
    <h1  class="error-h">Page not found</h1>
    <h3 class="error-text">
        But you did find this. One of itsybits own prototypes.<br>
        A high-powered mutant of some kind never even considered for mass production. <br>
        Too weird to live, and too rare to die
    </h3>

    <a class="ui card">
        <div class="image ray-image-container">
            <img src="~/images/animals/Friedchicken.jpg" />
        </div>
        <div class="content">
            <h2 class="names">
                Fried chicken
                <i class=man icon"></i>
            </h2>
            <div class="meta">
                <p> one day old</p>
            </div>
            <div class="description">
                I feel somebody made a mistake
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                <div class="ui three column grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui indicating small progress  progressbar tooltip" data-total="100">
                                <div class="bar"></div>
                                <div class="label">Fed</div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui indicating small progress progressbar tooltip" data-total="100">
                                <div class="bar"></div>
                                <div class="label">Rested</div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui indicating small progress progressbar tooltip" data-total="100">
                                <div class="bar"></div>
                                <div class="label">Loved</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>