@model IEnumerable<Building>
<h2>Buildings</h2>
<div class="ui cards centered">
    @foreach (Building building in Model) {
        @await Html.PartialAsync("/Views/Building/_BuildingCardPartial.cshtml", building)
    }
    
    <div class="ui card shop">
        <div class="content">
            <img class="left floated small rounded ui image" src="~/images/buildings/empty_icon.jpg" />
            <div class="header">
                Empty property
            </div>
        </div>
        <div class="extra content">
            <a class="ui button large fluid orange" asp-controller="Store" asp-action="Index">
            Buy
            <i class="icon shop"></i>
            </a>
        </div>
    </div>
</div>
