@model IEnumerable<Building>
<h2>Buildings</h2>
<div class="ui cards centered">
    @foreach (Building building in Model) {
        @await Html.PartialAsync("/Views/Building/_BuildingCardPartial.cshtml", building)
    }
</div>
