.bar {
    min-width: 0 !important;
}

.Account-body {
    background-color: #99ccff;
    background-image: url("../images/rays.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Main-body {
    background-color: #97B895;
}

.account-form {
    margin-top: 20px !important;
    background-color: rgba(232,232,232,0.8) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 25px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#loginform {
    padding-top: 200px
}

.Logo {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -127px;
}

.left {
    float: left;

}

.right {
    float: right;
}
.account-header {
    font-family: IBfont;
    font-size: 37px;
    color: #F7931E;
    text-align: center
} 


.clearfix {
    overflow: auto;
}

.login-options {
    margin-bottom: 20px;
}

.item {
    text-align: center;
    
}

#AboutBox {
    background-color: rgba(232,232,232,0.7);
    line-height: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #726D86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 #AboutBox h3 {
    font-family: IBfont;
    font-size: 27px;
    color: #F7931E;
    text-align: center;
    
    }

#notification-count {
    top: -1px;
    left: 38px;
}

#town {
    min-height: 800px;
}

#canvas {
    cursor: none;
}

.field .pointing.label {
    position: absolute;
    width: 200px;
    right: -190px;
    margin-top: 5px;
}

.field-validation-valid {
    padding: 0 !important;
    margin: 0 !important;
    display: none !important;
}

.notifications {
    max-width: 300px !important;
}

.notifications div.text {
    white-space: initial;
}

.notifications .comment {
    cursor: default !important;
}

.navigation {
    font-family: IBfont !important;
    background-color: #F7931E !important;
    margin-top: 0 !important;
}

.navigation .item {
    color: white !important;
    text-shadow: 1px 1px 2px #000000;
}

.logo-container {
    padding: 5px !important;
}

.sidebar .logo-container img {
    margin: 40px !important;
}

#ibfoot{
    position:absolute;
}

#account-footer {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

@font-face {
    font-family: "IBfont";
    src:url('Grinched 2.0.ttf');
}

@media(min-width: 1024px) {
    #computer-navbar {
        display: flex !important;
    }
    #mobile-navbar {
        display: none !important;
    }
}

@media(max-width: 1023px) {
    #mobile-navbar {
        display: flex !important;
    }
    #computer-navbar {
        display: none !important;
    }
}