.bar {
    min-width: 0 !important;
}

.AccountBody {
    background-color: lightblue;
}

.Logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*the left and right classes are currently not functional. The elements are still centered*/
.left {
    float: left;
}

.right {
    float: right;
}

#AboutBox {
    background-color: rgba(255,255,255,0.7);
}
