@model IEnumerable<Animal>
@{ ViewData["Title"] = "My animals"; }
<h2>@ViewData["Title"]</h2>
<table class="table">
    @foreach (Animal animal in Model) {
        @Html.Partial("_AnimalDetailsRow", animal)
    }
</table>