@model IEnumerable<Building>
@{ ViewData["Title"] = "My animals"; }
@foreach (Building building in Model.Where(b => b.Animals.Count != 0)) {
    <div class="ui segment secondary mid-segment-header">
        <h4>@building.Name</h4>
    </div>
    <div class="ui cards">
        @foreach (Animal animal in building.Animals) {
            @Html.Partial("/Views/Animal/_AnimalCardPartial.cshtml", animal)
        }
    </div>
}