@model IEnumerable<Animal>
@{ ViewData["Title"] = "My animals"; }
<h2>@ViewData["Title"]</h2>
<div class="ui cards">
    @foreach (Animal animal in Model) {
        @Html.Partial("_AnimalCardPartial", animal)
    }
</div>