@model IEnumerable<Building>
@{ ViewData["Title"] = "My animals"; }
<h2>@ViewData["Title"]</h2>
@foreach (Building building in Model) {
    @Html.Partial("/Views/Building/_BuildingDetailsPartial.cshtml", building)
}